@font-face {
     font-family: myFont1;
     src: url(./assets/font/font1.ttf);
     font-family: myFont2;
     src: url(./assets/font/font2.ttf);
}

*{
     margin: 0;
     padding: 0;
     max-width: 100%;
     box-sizing: border-box;
     font-family: var(--font-main);
     /* outline: 1px solid red; */
}

:root {
     --color-bg0: #6C757D;
     --color-bg1: #5A6168;
     --color-main: #4A98F7;
     --font-main: 'myFont2', sans-serif;
     --font-sans: 'myFont1', sans-serif;
     --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
     --border-radius: 980px;
}

body {
     display: flex;
     align-items: center;
     min-height: 100vh;
     background: var(--color-main);
}

.dark-mode {
     --color-bg0: #2E2E2E;
     --color-bg1: #1C1C1C;
     --color-main: #4A98F7;
     color: #E0E0E0;
     background-color: var(--color-bg0);
}
 
.dark-mode .tools-board,
.dark-mode .drawing-board {
     background: var(--color-bg1);
}
 
.dark-mode .buttons button {
     color: #E0E0E0;
     border: 1px solid #4A98F7;
}
 
.dark-mode .buttons button:hover {
     background: #4A98F7;
}

.dark-mode .option #resize-canvas {
     border: 1px solid #4A98F7;
     color: #E0E0E0;
}

.dark-mode .option #resize-canvas:hover {
     background: #4A98F7;
}

.dark-mode .zoom-controls #reset-zoom {
     color: #E0E0E0;
     border: 1px solid #4A98F7;
}

.dark-mode .zoom-controls #reset-zoom:hover {
     background: #4A98F7;
     color: #E0E0E0;
}

.dark-mode .buttons .save-img {
     background: #4A98F7;
}

.dark-mode .option input[type="number"] {
     color: var(--color-main);
     background: var(--color-bg0);
     border: none;
}

.dark-mode .drawing-board canvas {
     box-shadow: 0px 0px 7px rgb(255, 255, 255);
}
 
.container {
     display: flex;
     width: 100%;
     gap: 10px;
     padding: 10px;
     max-width: 1920px;
     height: 100vh;
}
section {
     background: #fff;
     border-radius: 7px;
}

.tools-board {
     width: 210px;
     padding: 15px 22px 0;
     background: #E0E0E0;
}

.tools-board .row {
     margin-bottom: 20px;
}

.row .options {
     list-style: none;
     margin: 10px 0 0 5px;
}

.row .options .option {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
}

.option:is(:hover, .active) img{
     filter: invert(17%) sepia(100%) saturate(748%) hue-rotate(189deg) brightness(95%) contrast(86%);
}

.option :where(span, label) {
     color: #5A6168;
     cursor: pointer;
     margin-left: 2px;
     padding: 0px 10px 0px 10px;
     transition: all .3s ease;
     border-radius: 7px;
     border: 1px solid transparent;
}

.option:is(:hover, .active) :where(span, label) {
     color: var(--color-main);
     border: 1px solid var(--color-main);
}

.option #fill-color {
     cursor: pointer;
     height: 14px;
     width: 14px;
     margin-left: 2px;
     border: 1px solid transparent;
}

#fill-color:checked ~ label {
     color: var(--color-main);
     border: 1px solid var(--color-main);
}

.option #size-slider {
     width: 100%;
     height: 5px;
     margin-top: 10px;
}

.option #size-slider::-webkit-slider-thumb {
     width: 15px;
     height: 15px;
     background: var(--color-main);
     border-radius: 50%;
     cursor: pointer;
}

.colors .options {
     display: flex;
     justify-content: space-between;
}

.colors .option {
     position: relative;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     margin-top: 3px;
     cursor: pointer;
}

.colors .option:nth-child(1) {
     background-color: #fff;
     border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
     background-color: #000;
     box-shadow: 0px 0px 5px #565656c9;
}

.colors .option:nth-child(3) {
     background-color: #E02020;
     box-shadow: 0px 0px 5px #565656c9;
}

.colors .option:nth-child(4) {
     background-color: #6DD400;
     box-shadow: 0px 0px 5px #565656c9;
}

.colors .option:nth-child(5) {
     border: 1px solid #bfbfbf;
     background: linear-gradient(135deg, red, orange, yellow, rgb(0, 196, 137), rgb(0, 153, 255), rgb(119, 0, 130), violet, red);
     box-shadow: 0px 0px 5px #565656c9;
}

.colors .option.selected::before {
     position: absolute;
     content: "";
     height: 12px;
     width: 12px;
     top: 50%;
     left: 50%;
     background: inherit;
     border-radius: inherit;
     border: 2px solid #fff;
     transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
     border-color: #ccc;
}

.option #color-picker {
     opacity: 0;
     cursor: pointer;
}

.option input[type="number"] {
     color: var(--color-bg0);
     background: none;
     border: 1px solid var(--color-bg0);
     border-radius: 7px;
     text-align: center;
     padding: 2px;
     font-size: .9rem;
     margin-left: 5px;
}

.option input[type="number"]:focus {
     outline: none;
}

.option #resize-canvas {
     padding: 5px;
     font-size: .9rem;
     border-radius: var(--border-radius);
     color: var(--color-bg0);
     border: 1px solid var(--color-bg1);
     background: none;
     cursor: none;
     transition: all .5s ease;
}

.option #resize-canvas:hover {
     cursor: pointer;
     background: var(--color-bg1);
     scale: 1.1;
     color: #fff;
}

.buttons button {
     width: 100%;
     color: #fff;
     border: none;
     outline: none;
     padding: 11px 0;
     font-size: .9rem;
     margin-bottom: 13px;
     background: none;
     border-radius: var(--border-radius);
     cursor: pointer;
     transition: all .5s ease;
}

.buttons button:hover {
     scale: 1.1;
}

.buttons .clear-canvas {
     color: var(--color-bg0);
     border: 1px solid var(--color-bg1);
}

.buttons .clear-canvas:hover {
     background: var(--color-bg1);
     color: #fff;
}

.buttons .save-img {
     background: var(--color-main);
     border: 1px solid var(--color-main);
}

.buttons .dark-btn { 
     color: var(--color-bg0);
     border: 1px solid var(--color-bg0);
}

.buttons .dark-btn:hover {
     background: var(--color-bg0);
     color: #fff;
}

.zoom-controls #reset-zoom {
     width: 32px;
     height: 32px;
     font-size: 1rem;
     color: var(--color-bg0);
     background: none;
     border-radius: 50%;
     border: 1px solid var(--color-bg1);
     cursor: pointer;
     transition: all .5s ease;
}

.zoom-controls #reset-zoom:hover {
     background: var(--color-bg1);
     scale: 1.1;
     color: #fff;
}

.zoom-controls #zoom-slider {
     height: 5px;
}

.zoom-controls #zoom-slider::-webkit-slider-thumb {
     cursor: pointer;
     flex-grow: 1;
}

.drawing-board {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     background: #E0E0E0;
}
 
.drawing-board canvas {
     cursor: none;
     display: block;
     border-radius: 7px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#customCursor {
     position: absolute;
     width: clamp(5px, 10vw, 50px);
     height: 10px;
     border-radius: 50%;
     border: 1px solid rgb(139, 139, 139); /* Schimbă în alb pentru gumă */
     pointer-events: none; /* Nu afectează interacțiunea */
     transform: translate(-50%, -50%);
     z-index: 999;
     display: none; /* Inițial ascuns */
}
